doctype html
html(lang="en")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Peoria Podcast Alliance"
    link(rel="stylesheet" href="css/style.css")
  body
    h1 Peoria Podcast Alliance
    section.logo
      include ./img/ppa.svg
    div.rss
      a(href="feed.xml")
        include ./img/rss.svg